{% extends "base.html" %}
{% block title %}Accueil - MauriMarket{% endblock %}

{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow">
    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="/">
    <img src="/static/images/logo.png"
         alt="MauriMarket"
         width="45"
         class="me-2">

    <span class="fw-bold fs-4">
        MauriMarket
    </span>
</a>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        Accueil
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Catégories
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Boutiques
                    </a>
                </li>

            </ul>


            <a href="/publier" class="btn btn-warning me-2">
                <i class="bi bi-plus-circle"></i>
                Publier
             </a>

  {% if user_name %}

<span class="text-white me-3">
    Bonjour {{ user_name }}
</span>

<a href="/mes-annonces" class="btn btn-info me-2">
    Mes annonces
</a>

<a href="/logout" class="btn btn-danger">
    Déconnexion
</a>

{% else %}

<a href="/login" class="btn btn-light me-2">
    Connexion
</a>

<a href="/register" class="btn btn-warning">
    Inscription
</a>

{% endif %}

            </a>





        </div>

    </div>
</nav>



<!-- Hero -->

<section class="hero">

<div class="container text-center">

<h1>
Le marché numérique de la Mauritanie
</h1>


<p>
Achetez et vendez facilement partout dans le pays.
</p>


<div class="row justify-content-center">

<div class="col-lg-7">


<form method="get" action="/">

<div class="input-group input-group-lg">


<input 
name="q"
class="form-control"
placeholder="Rechercher un produit...">


<button class="btn btn-warning">

<i class="bi bi-search"></i>

</button>


</div>

</form>


</div>

</div>

</div>

</section>


<!-- Categories -->

<section class="container py-5">

    <h2 class="text-center mb-5">
        Nos catégories
    </h2>

    <div class="row g-4">

        {% for category in categories %}

        <div class="col-6 col-md-4 col-lg-2">

            <div class="card category-card text-center p-4 h-100">

                <i class="bi {{ category.icon }} fs-1 text-success"></i>

                <h6 class="mt-3 mb-0">
                    {{ category.name }}
                </h6>

            </div>

        </div>

        {% endfor %}

    </div>

</section>


<!-- Produits -->

<section class="container py-5">

    <h2 class="text-center mb-5">
        Annonces récentes
    </h2>

    <div class="row g-4">

        {% for product in products %}

        <div class="col-12 col-md-6 col-lg-4">

            <div class="card product-card shadow h-100">

                {% if product.image %}

                <img src="/static/uploads/{{ product.image }}"
                     class="product-image"
                     alt="{{ product.title }}">

                {% else %}

                <img src="https://placehold.co/600x400?text=MauriMarket"
                     class="product-image"
                     alt="Image indisponible">

                {% endif %}

                <div class="card-body d-flex flex-column">

                    <span class="badge bg-success align-self-start">
                        {{ product.condition }}
                    </span>

                    <h5 class="mt-3 fw-bold">
                        {{ product.title }}
                    </h5>

                    <h4 class="text-success fw-bold">
                        {{ product.price }} MRU
                    </h4>

                    <p class="text-muted flex-grow-1">
                        {{ product.description[:100] }}
                    </p>

                    <p class="mb-3">
                        <i class="bi bi-geo-alt-fill"></i>
                        {{ product.city }}
                    </p>

                    <a href="/produit/{{ product.id }}"
                       class="btn btn-success w-100">
                        Voir le produit
                    </a>

                </div>

            </div>

        </div>

        {% else %}

        <div class="col-12">
            <p class="text-center">
                Aucune annonce disponible.
            </p>
        </div>

        {% endfor %}

    </div>

</section>




<!-- Footer -->

<footer class="bg-dark text-white text-center py-4">

<p class="mb-0">
🇲🇷 MauriMarket - Le marché numérique de la Mauritanie
</p>

</footer>


{% endblock %}

